<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Dawid Zyś">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/gallery.css">
    <link rel="icon" href="/imgs/logo.png">
    <title>FroggIT | Galeria</title>
</head>
<body>
    <header>
        <section>
            <img src="/imgs/logo.png" alt="logo">
            <h1>FroggIT</h1>
        </section>
        <nav>
            <ul>
                <li><a href="/"><i class="fa-solid fa-house"></i>Strona Główna</a></li>
                <li><a href="/gallery" class="active"><i class="fa-solid fa-images"></i>Galeria</a></li>
                <li><a href="/info"><i class="fa-solid fa-frog"></i>Hodowla</a></li>
                <li><a href="/form"><i class="fa-solid fa-laptop"></i>Zajęcia online</a></li>
            </ul>
        </nav>
        <section class="theme-toggle">
            <i class="fa-solid fa-sun"></i>
        </section>
    </header>
    <main>
        <img src="/imgs/gallery/frog1.png" alt="żaba_1">
        <img src="/imgs/gallery/frog2.png" alt="żaba_2">
        <img src="/imgs/gallery/frog3.png" alt="żaba_3">
        <img src="/imgs/gallery/frog4.png" alt="żaba_4">
        <img src="/imgs/gallery/frog5.png" alt="żaba_5">
        <img src="/imgs/gallery/frog6.png" alt="żaba_6">
        <img src="/imgs/gallery/frog7.png" alt="żaba_7">
        <img src="/imgs/gallery/frog8.png" alt="żaba_8">
        <img src="/imgs/gallery/frog9.png" alt="żaba_9">
        <img src="/imgs/gallery/frog10.png" alt="żaba_10">
        <img src="/imgs/gallery/frog11.png" alt="żaba_11">
        <img src="/imgs/gallery/frog12.png" alt="żaba_12">
    </main>
    <footer>
        <section>
            <img src="/imgs/logo.png" alt="logo">
            <p>FroggIT &copy;</p>
        </section>
        <section>
            <span>Dawid Zyś ZSTI 2025</span>
            <a href="https://github.com/ErexPL" class="theme-toggle" target="_blank">
                <i class="fa-brands fa-github"></i>
            </a>
        </section>
    </footer>
    <script src="/js/main.js"></script>
</body>
</html>