main > article {
    flex-basis: 80%;
    height: max-content;
    background-color: #FAFAFA;
    border-radius: 15px;
}

#short {
    flex-basis: 50%;
}

article {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: #EC9D03;
    border-radius: 15px;
    padding: 50px;
    margin: 40px;
    box-shadow: 8px 8px 10px rgba(0, 0, 0, 0.25);
}

article > p {
    font-size: 1vw;
    margin: 20px;
}

form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

form > * {
    font-size: 0.7vw;
}

input, textarea {
    font-size: 0.7vw;
}

label, fieldset {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 47%;
    font-weight: bold;
    margin: 10px;
    align-items: center;
}

fieldset {
    border: 2px solid #ccc;
    border-radius: 4px;
    margin-bottom: 20px;
}
  
input[type="text"], input[type="email"], input[type="tel"], textarea {
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 2px solid #ccc;
    border-radius: 4px;
    flex-basis: 100%;
}

textarea {
    height: 140px;
}

#choice_label {
    flex-basis: 95%;
}

fieldset > label {
    flex-basis: 90%;
}
  
input[type="radio"], input[type="checkbox"] {
    flex-basis: 5%;
}
  
input[type="submit"] {
    width: 100%;
    padding: 15px;
    background-color: #EC9D03;
    color: #FAFAFA;
    border: none;
    border-radius: 15px;
    font-size: 1vw;
    cursor: pointer;
    margin-top: 20px;
}
