* {

    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    overflow-x: hidden;
    user-select: none;

}

body {

    display: flex;
    flex-wrap: wrap;

}

a, a:visited {

    width: 46vw;
    text-decoration: none;
    color: #050505;

}

header {

    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #468132;
    height: 200px;
    width: 100vw;
    padding-left: 420px;

}

header > img {

    border-right: 8px #050505 solid;
    border-radius: 15px;
    padding: 15px;
    width: 500px;

}

ul {

    display: flex;
    flex-wrap: wrap;
    list-style: none;

}

li {

    flex-basis: 48%;
    background-color: #BDFCA7;
    text-align: center;
    border-radius: 15px;
    width: 46vw;
    height: 75px;
    margin: 0.3vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3em;
    font-weight: 900;
    box-shadow: 8px 8px 10px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    transition: ease-in-out 0.2s;

}

li:hover {

    background-color: #FAFAFA;
    transition: ease-in-out 0.2s;

}

span > img {

    position: absolute;
    left: 210px;
    top: 210px;

}

span {

    position: absolute;
    border-radius: 30%;
    left: -170px;
    top: -170px;
    box-shadow: 8px 8px 10px rgba(0, 0, 0, 0.25);

}

#circle_1 {

    background-color: #FFE4AE;
    height: 490px;
    width: 490px;
    z-index: 3;

}

#circle_2 {

    background-color: #FFCE6F;
    height: 530px;
    width: 530px;
    z-index: 2;

}

#circle_3 {

    background-color: #EC9D03;
    height: 570px;
    width: 570px;
    z-index: 1;
    

}

aside {

    display: flex;
    flex-wrap: wrap;
    background-color: #468132;
    width: 400px;
    padding: 25px;
    padding-top: 250px;
    align-items: center;

}

aside > article {

    display: flex;
    margin: 40px;
    flex-basis: 80%;
    width: auto;
    padding: 10px;
    justify-content: center;
    align-items: start;

}

aside > article > h3 {

    font-size: 1.75em;
    margin: 10px;
    text-align: center;
    border-bottom: 5px #050505 solid;
    border-radius: 15px;
    padding-bottom: 15px;

}

aside > article > p {

    font-size: 1em;
    margin: 25px;

}

aside > img {

    height: 250px;
    margin: 40px;
    padding: 0px;
    flex-basis: 80%;
    border-radius: 15px;
    box-shadow: 8px 8px 10px rgba(0, 0, 0, 0.25);
    object-fit: cover;

}

main {

    background-color: #F4FFC6;
    width: calc(100% - 400px);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 50px;

}

main > h1 {

    display: flex;
    width: 100%;
    font-size: 3.5vw;
    justify-content: center;
    align-items: center;
    margin: 1.5vw;

}

main > article {

    flex-basis: 80%;
    height: max-content;
    background-color: #FAFAFA;
    border-radius: 15px;

}

#short {

    flex-basis: 50%;

}

article {

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: #EC9D03;
    border-radius: 15px;
    padding: 50px;
    margin: 40px;
    box-shadow: 8px 8px 10px rgba(0, 0, 0, 0.25);

}

article > p {

    font-size: 1vw;
    margin: 20px;

}

form {

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

form > * {

    font-size: 0.7vw;

}

input, textarea {

    font-size: 0.7vw;

}

label, fieldset {

    display: flex;
    flex-wrap: wrap;
    flex-basis: 47%;
    font-weight: bold;
    margin: 10px;
    align-items: center;

}

fieldset {

    border: 2px solid #ccc;
    border-radius: 4px;
    margin-bottom: 20px;

}
  
input[type="text"], input[type="email"], input[type="tel"], textarea {

    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 2px solid #ccc;
    border-radius: 4px;
    flex-basis: 100%;

}

textarea {

    height: 140px;

}

#choice_label {

    flex-basis: 95%;

}

fieldset > label {

    flex-basis: 90%;

}
  
input[type="radio"], input[type="checkbox"] {

    flex-basis: 5%;

}
  
input[type="submit"] {

    width: 100%;
    padding: 15px;
    background-color: #EC9D03;
    color: #FAFAFA;
    border: none;
    border-radius: 15px;
    font-size: 1vw;
    cursor: pointer;
    margin-top: 20px;

}

footer {

    display: flex;
    background-color: #A16262;
    width: 100%;
    align-items: center;
    justify-content: center;

}

footer > img {

    width: 4vw;
    margin: 30px;

}

footer > p {

    color: #FAFAFA;
    text-align: center;
    font-size: 1vw;
    font-weight: 900;
    width: 6vw;

}
