main {
    display: flex;
    flex-wrap: wrap;
    background-color: #F4FFC6;
    justify-content: space-evenly;
}

main > img {
    height: 16vw;
    box-shadow: 8px 8px 10px rgba(0, 0, 0, 0.25);
    margin: 40px;
    border-radius: 15px;
}
