main > img {
    flex-basis: 30%;
    border-radius: 15px;
    margin: 40px;
    box-shadow: 8px 8px 10px rgba(0, 0, 0, 0.25);
    object-fit: cover;
}

article {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 55%;
    background-color: #EC9D03;
    border-radius: 15px;
    padding: 50px;
    margin: 40px;
    box-shadow: 8px 8px 10px rgba(0, 0, 0, 0.25);
}

article > h2 {
    font-size: 2vw;
    margin-bottom: 30px;
}

article > p {
    font-size: 1vw;
}

table {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #FAFAFA;
    margin-top: 40px;
    margin-bottom: 40px;
    border-collapse: collapse;
    border-style: hidden;
    outline: 5px solid #F4FFC6;
    outline-offset: -3px;
    border-radius: 15px;
}

th {
    padding: 2vw;
    border: 2px solid;
    font-size: 1vw;
    background-color: #EC9D03;
}

td {
    padding: 2vw;
    border: 2px solid;
    font-size: 0.8vw;
    text-align: center;
}

.first {
    background-color: #BDFCA7;
}
