main > article {
    width: 70%;
    height: max-content;
    background-color: #FAFAFA;
    border-radius: 15px;
}

#short {
    flex-basis: 50%;
}

article {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 55%;
    background-color: #EC9D03;
    border-radius: 15px;
    padding: 50px;
    margin: 40px;
    box-shadow: 8px 8px 10px rgba(0, 0, 0, 0.25);
}

article > p {
    font-size: 1vw;
    margin: 20px;
}

article > img {
    height: 11.5vw;
    border-radius: 15px;
    margin: 30px;
    box-shadow: 8px 8px 10px rgba(0, 0, 0, 0.25);
    object-fit: cover;
}
